<div class="ui two column grid">
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <h4 class="ui center aligned medium icon header">
        <i class="circular green users icon"></i>
        Chat App!
      </h4>
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <!-- Using Comments View -->
        <div class="ui minimal comments">
          <h3 class="ui dividing header">Comments</h3>
          <%= render @messages %>
        </div>

        <!-- Using Feed View -->
        <!-- <div class="ui feed">
          <div class="event">
            <div class="label">
              <%= image_tag("joe.jpg", :alt => "Joe's Avatar") %>
            </div>
            <div class="content">
              <div class="summary">
                <a>Joe Henderson</a>
                <div class="date">
                  3 days ago
                </div>
              </div>
              <div class="extra text">
                Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 5 Likes
                </a>
              </div>
            </div>
          </div>
        </div> -->

      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Enter message...">
              <i class="bordered inverted green edit icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





