@import "semantic-ui";

.chatbox {
  height: 450px;
}

.ui.comments {
  max-width: none;
}

.ui.vertical.menu {
  width: 100%;
}

.home-logo {
  height: 100%;
}

#menu-header {
  margin-top: 7px;
}

#messages {
  height: 15em;
  overflow: auto;
}
