<div class="ui vertical labeled icon inverted menu">
  <a class="active green item">
    <!-- I want the icons to look like this when active -->
    <!-- will figure out later, backend is priority now -->
    <i class="gamepad icon black"></i>
    <div style="color:black" >Games</div>
  </a>
  <a class="item">
    <i class="video camera icon"></i>
    Channels
  </a>
  <a class="item">
    <i class="video play icon"></i>
    Videos
  </a>
</div>
